@model SemicolonShop.Models.User

@{
    ViewData["Title"] = "Admin";
}

<h1>Hello @ViewBag.Username</h1>

<div>
    <h4>User</h4>
    <hr />
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ULastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ULastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>*@
</div>
<div>
    <a asp-action="Index">Log out</a>
</div>
