@model SemicolonShop.Models.Product
@{
    ViewData["Title"] = "Admin";
}

<h1>Hello @ViewBag.Username</h1>
<div>
    <a asp-action="Add">Add Product</a>
</div>
<div>
    <h4>User</h4>
    <hr />
    <table>
        <tr>
            <th>รหัส</th>
            <th>ชนิด</th>
            <th>ชื่อ</th>
            <th>ราคา</th>
            <th>คลัง</th>
            <th>วันที่</th>
            <th> </th>

        </tr>
        @foreach (var item in ViewBag.Product)
        {
    <tr>
        <td>@item.ProductID</td>
        <td>@item.ProductType</td>
        <td>@item.ProductName</td>
        <td>@item.ProductPrice</td>
        <td>@item.ProductUnit</td>
        <td>@item.DateUpdate</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
        </td>
    </tr>

        }
    </table>
</div>
<div>
    <a asp-action="Index">Log out</a>
</div>

